*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}


.menu__logo{
    padding-left: 1em;
    
}

.menu{
    background-color: #050607;
    z-index: 200;
    position:fixed;
    color: #fff;
    height: 2.6em;
    width: 100%;
    justify-content:inherit;
    
    
}

/*
.menu__container{
    display: flex;
    justify-content:inherit;
    
    width: 100%;
    max-width: 1200px;
    height: 100%;
  
}

.menu__links{
    height: 100%;
    transition: transform .7s;
    display: flex;
    position: fixed;
}

.menu__link--inside {

    height: 1em;
}



.menu__item{
    list-style: none;
    position: relative;
    height: 100%;
    --clip: polygon(0 0, 100% 0, 100% 0, 0 0);
    --transform: rotate(-90deg);
    margin-left: 200px;
    
}

.menu__item:hover{
    --clip: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    --transform: rotate(0);
}
.menu__link1{
    color: #fff;
    text-decoration: none;    
    display: flex;
    height: 100%;
    
    text-indent: nowrap;
    text-align: center;
    
}


.menu__link{
    text-align: center;
      color: #fff;
      text-decoration: none;
      padding: 0 1em;
      display: flex;
      height: 100%;
      align-items: center;
      
      border-color: rgb(125, 210, 243);
     
    
     
  }








.menu__link:hover{
    background-color: #5e7094;
    
   
}




.menu__nesting{
    list-style: none;
    transition:clip-path .5s;
    clip-path: var(--clip);
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100%;
    
    opacity: 0.89;
    transform: translateY(100%);
    background-color: #000;
    
    

}



.menu__link--inside:hover{
    background-color: #798499;
    
}

.menu__hamburguer{
    height: 100%;
    display: flex;
    align-items: center;
    
    cursor: pointer;
    display: none;
}

.menu__img{
    display: block;
    width: 36px;
}



.menu section  ul li ul li {
    list-style: none;  
   opacity: 0%;
   position: absolute;
   color: red;
  
      
}  



.menu section  ul li:hover > ul {
   opacity: 100%;
    display: block;
    background-color: red;
    position: relative;
    min-width: 180px;
    left: 120px;  
    top:-20px;
}



*/


ul,
ol {
  list-style: none;
  background-color: #050607;
}
.menu section li a {
  
  
  text-decoration: none;
  display: block;
  text-indent: nowrap;
  text-align: center;
  background-color: #050607;
  z-index: 200;
  line-height: 50px;
  color: #e7e7e7;
  height: 49px;
  width: 100%;
  margin-right: 130px;
  
}


.menu section li a:hover {
  
  color:#2d4f70;
  cursor: pointer;
  
}

.menu section > li {
  float: left;
  position: relative;
  top:-50px;
  left: 330px;
  list-style: none;

  
}

.menu section li ul {
  display: none;
  position: absolute;
  min-width: 140px;
  opacity: 93%;
  width: 100%;
}

.menu section li:hover > ul {
  display: block;
}

.menu section li ul li {
  position: relative;
}

.menu section li ul li ul {
  right: -217px;
  top: 0px;
  text-size-adjust:inherit ;
}

.boton_home{
    background-color: #050607;
    width: 30px;
    margin-left: 10px;
  
    
}

.boton_login{
    margin-left: auto;
    font-size: 16px;
    width: 60;
    height: 40px;
    color: rgb(185, 185, 185);
    margin-top: 1px;
    background:none;
    border: solid 1px;
    border-radius: 3px;
    text-decoration: none;
    cursor: pointer;
    display: flex;
    align-items: center;
}
.boton_login_texto{
    text-decoration: none;
    color: aliceblue;
    padding-left: 12px;
    padding-right: 12px;
    padding-bottom: 2px;

    
}

.portada{
    margin-top: 30px;
    height: 100px;
    width: 1349px;
}

.imgfb{
    width: 40px;
    
}

@media (max-width:500px){
    .menu{
        background-color: #1A202C;
        z-index: 200;
        position:fixed;
        color: #fff;
        height: 2.6em;
        width: 100%;
        
    }
    .menu__hamburguer{
        display: flex;
    }

    .menu__item{
        
        --clip:0;
        overflow:hidden ;
        width: 9em;
        margin-left: 200px;
        padding: 0 1.4em 0 0;
    }

    .menu__item--active{
        --transform: rotate(0);
        --background: #5e7094;
        
    }

    .menu__item--show{
        background-color: var(--background);
    }


    .menu__links{
        position: fixed;
        max-width: 400px;
        width: 100%;
        top: 70px;
        bottom: 0;
        right: 0;
        background-color: #000;
        overflow-y: auto;
        display: grid;
        grid-auto-rows: max-content;
        transform: translateX(100%);

    }

    .menu__links--show{
        transform: unset;
        width: 100%;
        height: 100%;
    }

    .menu__link{
        
        
        width: 1em;
        height: 2.6em;
        padding: 0 0 0 0;
        margin: 0 0 0 0;
    }

  

    .menu__nesting{
        display: grid;
        position: unset;
        width: 100%;
        transform: translateY(0);
        height: 100%;
        transition: height .5s;
        border-top-color: gray;
    }

    .menu__link--inside{
        width: 100%;
        margin-left: auto;
        border-left: 1px solid #798499;
        border-top-color: gray;
    }

    .menu__link1{
        color: #fff;
        text-decoration: none;    
        display: flex;
        width: 3em;
        
        text-indent: nowrap;
        text-align: center;
        
    }
    .boton_home{
        background-color: #1A202C;
        width: 2.2em;
        padding-left: 0.2em;
     }
 }

